VITE_API_URL=http://localhost:5000/api
VITE_FIREBASE_API_KEY=AIzaSy...
VITE_FIREBASE_AUTH_DOMAIN=src-fe.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=src-fe
VITE_FIREBASE_STORAGE_BUCKET=src-fe.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=593540345782
VITE_FIREBASE_APP_ID=1:593540345782:web:171a23960eafdeff7a5b17
VITE_FIREBASE_MEASUREMENT_ID=G-7VJZSF601G